.data-grid {
  table-layout: fixed;
  font-size: 12px;
  border: 1px solid #e2e2e2;
}

/* --- Header --- */

table.data-grid thead th {
  border: none;
  border-bottom: none;
}

.data-grid th:not(:first-child) {
  text-align: right;
}

.data-grid tr {
  background-color: #fff;
}

.data-grid .table-header-groups {
  position: sticky;
  top: 55px;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 1px;
  font-weight: 600;
}

.data-grid .table-header-groups th {
  padding-bottom: 6px;
}

.data-grid .table-columns-header th {
  font-weight: 600;
  color: #8d8d8d;
}

.data-grid .table-header-groups + .table-columns-header th {
  padding-top: 6px;
}

/* --- Body --- */

.data-grid td {
  padding: 25px 15px;
  line-height: 17px;
}

.data-grid td:not(:first-child) {
  text-align: right;
}

.data-grid td > * {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 801px) {
  .data-grid td {
    height: 85px;
    padding: 25px 15px !important;
  }

  .data-grid td:first-child,
  .data-grid th:first-child {
    padding-left: 30px;
  }

  .data-grid td:last-child,
  .data-grid th:last-child {
    padding-right: 30px;
  }

  .data-grid .table-header-groups th:not(:first-child) {
    text-align: left;
    padding-left: 20px;
  }

  .data-grid .last-of-section {
    border-right: 1px solid #e2e2e2;
  }

  .data-grid .mobile-label {
    display: none;
  }

  .data-grid.table-hover tbody tr:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .table-columns-header {
    display: none;
  }

  .data-grid .table-header-groups {
    display: flex;
  }

  .data-grid .table-header-groups th {
    display: flex;
    height: 50px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  .data-grid .table-header-groups .active {
    background-color: #b5975a2b;
    border-bottom: 4px solid #b5975a;
  }

  .data-grid tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }

  .data-grid tr:not(:first-child) {
    margin-top: 30px;
  }

  .data-grid tbody tr:hover {
    background-color: #fff !important;
  }

  .data-grid tr .campaign-date {
    text-align: right;
  }

  .data-grid td,
  .data-grid th:first-child {
    padding: 8px 15px;
  }

  .data-grid tbody td {
    grid-column: 1/3;
    border: none;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
  }

  .data-grid td:last-child {
    margin-bottom: 15px;
  }

  .data-grid .mobile-label {
    font-size: 13px;
    color: #2f2e32;
    text-align: left;
    font-weight: 600;
  }

  .data-grid .cell-sales .mobile-label,
  .data-grid .cell-volume .mobile-label {
    padding: 15px 0 8px 0;
    color: #8d8d8d;
    font-weight: 200;
  }
}
