.filters-wrapper {
  position: fixed;
  z-index: 5;
  right: 0;
  width: 280px;
  min-height: 100vh;
  display: inline-block;
  background: white;
  border-left: 1px solid #dfdfdf;

  .custom-button {
    height: 40px;
    outline: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .buttons-wrapper {
    margin: 100px 0 20px;
    max-height: 50px;
    clear: both;
  }
}

/* Filter Header */

.filters-header {
  height: 50px;
  margin: 15px 35px 0 35px;

  .close-btn {
    float: right;

    img {
      width: 18px;
      height: 40px;
      vertical-align: middle;
    }
  }

  .filters-label-image {
    width: 25px;
  }

  .filters-label {
    font-size: 17px;
    color: #404040;
    padding-left: 8px;
    font-weight: 600;

    .heading {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }

    .cancel-button-image {
      width: 18px;
      height: 35px;
    }
  }
}

.filter-body {
  margin: 10px 35px;

  label {
    margin-bottom: 5px;
  }

  select {
    font-size: 12px;
    line-height: 1.25px;
    color: #8d8d8d;
  }

  /* Buttons */
  .custom-button.apply {
    background: black;
    color: white;
    border: none;
  }

  .custom-button.clear {
    background: white;
    color: black;
    border: 2px solid #dfdfdf;
  }

  /* Date Picker */
  .datepicker-wrapper input {
    font-size: 12px;
  }

  [type='date'] {
    background: #fff url(./calendar.svg) 92% 50% no-repeat;
  }

  [type='date']::-webkit-inner-spin-button {
    display: none;
  }

  [type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

@media only screen and (min-width: 320px) {
  .filters-wrapper {
    width: 285px;

    .buttons-wrapper {
      min-height: 100px;

      .apply,
      .clear {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .filters-wrapper {
    .buttons-wrapper {
      .apply {
        width: 45%;
        float: left;
      }

      .clear {
        width: 45%;
      }
    }

    .cancel-button-image {
      display: none;
    }
  }
}
