.searchable-combo-list {
  .search-wrapper {
    border: 1px solid #dfdfdf;
    margin: 15px;
    padding: 1px;
  }

  .search-input {
    height: 40px;
    border: none;

    &::placeholder {
      color: #8d8d8d;
      font-size: 12px;
      transform: translate(0, -3px);
    }
  }

  .combo-list {
    margin: 10px 0;
    border-radius: 0;
    height: 200px;
    width: calc(100% - #{15px});
    overflow: auto;

    & a {
      outline: none;
      height: 40px;
      padding: 12px 30px;
      border-radius: 0 !important;
      border: none;
      line-height: 16px;

      &:hover {
        background-color: #d6eff5;
        color: #2f2e32;
      }
    }
  }
}
