/* Form Controls */
.form-control,
.btn {
  border-radius: 0;
  border: 1px solid #ced4da;
}

/* On Hover */
.form-control:hover,
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

input.form-control:hover {
  cursor: default;
}

/* On Focus */
.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

a,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}
